.boardContainer {
  display: flex;
  align-items: flex-start;
  height: 100%;
  padding: 20px;
  overflow: visible;
  overflow-x: scroll;
}

.board {
  display: flex;
  gap: 20px;
  align-items: flex-start;
  height: 100%;
  padding: 20px;
}

.column-placeholder {
  /* background: #d0ffd0; */
  background: rgba(255, 255, 255, 0.35);
  border: 2px dashed #ccc;
  border-radius: 8px;
  width: 300px;
  min-height: 400px;
}

.dragging {
  transform: rotate(2deg) scale(1.02);
  opacity: 0.9;
}

.task-placeholder {
  background: rgba(255, 255, 255, 0.35);
  height: 45px;
  margin-bottom: 10px;
  border: 2px dashed #ccc;
  border-radius: 4px;
}
