.project-section {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 20px;
  max-width: 1400px;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 2%;
}

.project-section h2 {
  margin-top: 50px;
  width: 100%;
  font-weight: 500;
  color: white;
  font-size: 2.5rem;
}

.project-section-header {
  background: rgba(255, 255, 255, 0.35);
  backdrop-filter: blur(12px) saturate(150%);
  -webkit-backdrop-filter: blur(12px) saturate(150%);
  border: 1px solid rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
  border-radius: 24px;
  display: flex;
  gap: 20px;
  align-items: center;
  padding: 6px 12px;
  position: relative;
}

.project-section-header:focus-within {
  background: rgba(255, 255, 255, 0.75);
}

.project-section-header input {
  border: none;
  background: transparent;
  font-size: 16px;
  color: #141416;
  padding: 10px;
  padding-left: 40px;
  width: 100%;
  outline: none;
}

.project-section-header img.project-search-icon {
  position: absolute;
  width: 20px;
  height: 20px;
  left: 20px;
  filter: invert(0.5);
}

.project-section-header button {
  width: 20px;
  height: 20px;
  background: transparent;
  border: none;
  margin-right: 10px;
  cursor: pointer;
}

.project-section-header button img {
  width: 100%;
  height: 100%;
  filter: invert(0.5);
}

.project-list {
  margin-top: 50px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.project-item {
  position: relative;
  flex: 0 0 25%;
  aspect-ratio: 1/0.4;
  background: rgba(255, 255, 255, 0.35);
  backdrop-filter: blur(12px) saturate(150%);
  -webkit-backdrop-filter: blur(12px) saturate(150%);
  border: 1px solid rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
  display: flex;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  overflow: hidden;
  border-radius: 12px;
}

.project-item-content {
  padding: 12px;
  background: rgba(255, 255, 255, 0.75);
  font-size: 18px;
  font-weight: 400;
  height: 75%;
  width: 100%;
}

.project-item-content h3 {
  font-size: 18px;
  font-weight: 400;
  color: #141416;
}

.project-item-content p {
  font-size: 14px;
  font-weight: 400;
  color: #ccc;
}

/* PROJECT ACTIONS SECTION */

.project-item-actions {
  position: absolute;
  height: 100%;
  width: 100%;
  background: #141416;
  display: flex;
  gap: 8px;
  padding: 12px;
  top: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  transition: 0.2s ease-in-out;
}

.project-item-actions button {
  min-width: 48px;
  min-height: 48px;
  max-width: 48px;
  max-height: 48px;
  background: #fbfbfe;
  border: none;
  cursor: pointer;
  padding: 12px;
  border-radius: 50%;
  cursor: pointer;
}

.project-item-actions button svg {
  width: 100%;
  height: 100%;
  color: #141416;
}

/* HOVER PROJECT ITEM */

.project-item:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.project-item:hover .project-item-actions {
  top: 0%;
}

/* BUTTONS HOVER */

.project-item-actions button:hover svg {
  color: #fbfbfe;
}

.project-item-actions button[data-action="delete"]:hover {
  color: #fff;
  background: #e74c3c;
  transition: background 0.3s, color 0.3s;
}

.project-item-actions button[data-action="open"]:hover {
  color: #fff;
  background: #27ae60;
  transition: background 0.3s, color 0.3s;
}
